@mixin heading-shadow {
    text-shadow: .55rem .55rem #15DEA5;
}

.form {
    &__heading {
        @include heading-shadow;
    }
}

.about {
    &__heading {
        @include heading-shadow;
    }
}

.project {
    &__heading {
        @include heading-shadow;
    }
}

/* Résultat CSS */
.form_heading {
    text-shadow: .55rem .55rem #15DEA5;
}

.about_heading {
    text-shadow: .55rem .55rem #15DEA5;
}

.project_heading {
    text-shadow: .55rem .55rem #15DEA5;
}

/* Mixin + (argument) Étape 1*/
@mixing heading-shadow($colour) {
    text-shadow: .55rem .55rem #15DEA5;
}

/* Mixin + (argument) Étape 2*/
@mixing heading-shadow($colour) {
    text-shadow: .55rem .55rem $colour;
}

/* Application de la mixin Étape 3*/
.heading {
    &__header {
        @include heading-shadow(#fff);
    }
}

/* Résultat CSS */
.heading__header {
    text-shadow: .55rem .55rem #fff;
}

/* Mixin + (argument : argument par défaut si je ne spécifie pas une couleur)*/
@mixing heading-shadow($colour: $color-primary) {
    text-shadow: .55rem .55rem $colour;
}

/* Sass Final */
.heading {
    &__header {
        @include heading-shadow($color-white);
    }
}

.form {
    &__heading {
        @include heading-shadow;
    }
}

.about {
    &__heading {
        @include heading-shadow;
    }
}

.project {
    &__heading {
        @include heading-shadow;
    }
}

/* CSS Final une fois compilé */
.heading__header {
    text-shadow: .55rem .55rem #fff;
}

.form__heading {
    text-shadow: .55rem .55rem #15DEA5;
}

.about__heading {
    text-shadow: .55rem .55rem #15DEA5;
}

.project__heading {
    text-shadow: .55rem .55rem #15DEA5;
}

/* Variable pour la taille fixe de l'ombre de text-shadow .55rem */
$heading-shadow-size: 0.55rem;

/* Dans la mixin j'applique $heading-shadow-size en taille par défaut */
@mixin heading-shadow($color: $color-primary, $shadow-size: $heading-shadow-size) {
    text-shadow: $shadow-size solid $colour; 
}

/*** Les Extensions ***/
/* J'inscris des propriétés dans une classe CSS */
.typography {
    color: $color-primary;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.7
}

/* Grâce aux extensions j'applique toutes les propriétés de la classe CSS .typography à un autre sélecteur 
grâce à @extend .typography*/

h1 {
    @extend .typography
}

/* La meilleure façon d'utiliser les extensions et d'éviter qu'un sélecteur qui ne se retrouve nulle part
dans le CSS soit présent dans mon css est d'utilise le prefixe pourcentage */
%typography {
    color: $color-primary;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.7
}