/* Bloc parents */
.proj-prev {
    color: #fff;
    margin-bottom: .25rem;
}

/* Création d'un élément */
.proj-prev__heading {
    font-size: 4rem;
    padding-left: 2.5rem;
    margin: 0;
    line-height: 6rem;
}

/* Modification d'un élément, le texte doit être en vert menthe */
.proj-prev--mint {
    color: #15DEA5;
}